language: go
go:
  - "1.11.x"
  - "1.x"

services:
  - docker

env:
  global:
    - CODECLIMATE_API_HOST=https://codebeat.co/webhooks/code_coverage
    - GOCD_LOG_LEVEL=DEBUG
    - GO111MODULE=on
  matrix:
    - GOCD_VERSION=v17.10.0
    - GOCD_VERSION=v19.5.0

addons:
  apt:
    packages:
    - rpm

matrix:
  fast_finish: true
  allow_failures:
    - env: GOCD_VERSION=v17.10.0

script:
  - go generate -mod=readonly -x ./... && git diff --exit-code; code=$?; git checkout -- .; (exit	$code)
  - make testacc

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - go get -mod=readonly github.com/goreleaser/goreleaser
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage.out

after_failure:
  - docker logs gocd-server-test --tail all

deploy:
  - provider: script
    skip_cleanup: true
    script: make deploy_on_tag
    on:
      tags: true
      condition: $TRAVIS_GO_VERSION =~ ^1\.11\.([0-9]+|x)?$ && $GOCD_VERSION =~ ^v19\.[0-9]+\.[0-9]+$
  - provider: script
    skip_cleanup: true
    script: make deploy_on_develop
    on:
      branch: develop
      condition: $TRAVIS_GO_VERSION =~ ^1\.11\.([0-9]+|x)?$ && $GOCD_VERSION =~ ^v19\.[0-9]+\.[0-9]+$
